<web-app>
     <servlet>
        <servlet-name>loginJsp</servlet-name>
        <jsp-file>/Registration.jsp</jsp-file>
		<jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginJsp</servlet-name>
        <url-pattern>/Login.jsp</url-pattern>
    </servlet-mapping>
	<welcome-file>
	<welcome-file-name>/index.html</welcome-file-name>
	</welcome-file>
</web-app>
