*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	 display: flex;
	justify-content: center;
	align-items: center; 
	min-height: 80vh;
	background-size: cover;
	background-position:center;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.content{
	top: 30px;
	text-align: center;
	font-size: large;
}

/*==Navigation=====================================*/
.navigation{
	position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
	width: 100vw;
    margin: auto;
	background-color:rgb(224, 242, 249);
	top: 0px;
	left: 30;
	z-index: 99; 
	height: 30px;
}
.navigation .btnlogin-popup{
	width: 70px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.1em;
	top: 0;
	color: #000000;
	/* font-weight: 300; */
	margin-left: 35px;
	transition: .5s;
	display: flex;
	justify-content: center;
	text-align: center;
}

.menu .btnlogin-popup:hover{
	background: rgb(205, 231, 241);
	border-radius: 10px;
}
.menu{
    display: flex;
	color: #000000;
}
.menu a:hover{
	background: rgb(205, 231, 241);
	border-radius: 10px;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #080808;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

.menu li a:hover,
.menu .active{
    transition: all ease 0.3s;
}
.menu a:active{
	background-color: rgb(151, 193, 209);
}
.menu .btnlogin-popup:active{
	background-color: rgb(151, 193, 209);	
}

/* Wrapper Class */
.wrapper
{
	position: fixed;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 1px solid rgba(255,255,255, .5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(136, 233, 255);
	overflow: hidden;
	transition: height .2s ease;
	background-position: bottom right;
	transform: scale(0); 
	transition: transform .5s ease, height .2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 550px;
	top: 150px;
}

.wrapper.active-popup{
	transform: scale(1);
}

.wrapper.active{
	height: 520px;

}
.wrapper form-box 
{
	width: 100%;
	padding: 40px;
}
.wrapper .form-box.login{
	/* display: none; */
	transition: transform .18s ease;
	transform: translateX(0);
}
.wrapper.active .form-box.login{
	transition: none;
	transform: translateX(-400px);
}

.wrapper.active .form-box.registration{
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper .form-box.registration{
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper .icon-close{
	position: absolute;
	top: 0;	
	right: 0;
	width: 45px;
	height: 45px;
	background: #162938;
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	z-index: 1;
}
.form-box h2
{
	font-size: 2em;
	color: #162938;
	text-align: center;
}
.input-box{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}
.input-box label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #162938;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
	top: -5px;

}
.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: #162938;
	font-weight: 600;
	padding: 0 35px 0 5px;
}
.input-box .icon{
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: #162938;
	line-height: 57px;
}
.remember-forgot{
	font-size: .9em;
	color: #162938;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;

}
.remember-forgot label input{
	accent-color: #162938;
	margin-right: 3px;
}
.remember-forgot a{
	color: #162938;
	text-decoration: none;
}
.remember-forgot a:hover{
	text-decoration: underline;
}
.btnlogin{
	width: 100%;
	height: 45px;
	background: #162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}
.btnregister{
	width: 100%;
	height: 45px;
	background: #162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}
.login-register{
	font-size: .9em;
	color: #162938;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}
.login-register p a{
	color: #162938;
	text-decoration: none;
	font-weight: 600;
}
.login-register p a:hover{
	text-decoration: underline;

}
